body {
  font-family: arial, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 26px;
  margin-bottom: 20px;
}

ul {
  color: rgb(112, 117, 122);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.weather-app-wrapper {
  border: 1px solid rgb(112, 117, 122);
  border-radius: 10px;
  max-width: 510px;
  margin: 30px auto;
  padding: 20px;
}
.weather-temperature img {
  font-weight: 400;
  height: 64px;
  width: 64px;
  margin-top: 0px;
  vertical-align: top;
  padding: 0px;
}
.weather-temperature strong {
  font-size: 44px;
  line-height: 60px;
  font-weight: 600;
}

.units {
  position: relative;
  font-size: 16px;
  top: -18px;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-icon {
  height: 50px;
  width: 50px;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.weather-forecast-temp-max {
  font-weight: bold;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
