body {
  font-family: arial, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 26px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
  color: rgb(112, 117, 122);
}

.weather-app-wrapper {
  border: 1px solid rgb(112, 117, 122);
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}
.weather-temperature img {
  font-weight: 400;
  height: 64px;
  width: 64px;
  margin-top: 0px;
  margin-left: 30px;
  vertical-align: top;
}
.weather-temperature strong {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 25px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -22px;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}
